@model List<MercDevs_ej2.Models.Recepcionequipo>

<h1>Equipos Recepcionados por Cliente</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>MarcaPc</th>
            <th>ModeloPC</th>
            <th>Detalle de Servicio</th>
            <!-- Agrega más columnas según las propiedades de Recepcionequipo -->
        </tr>
    </thead>
    <tbody>
        @foreach (var recepcion in Model)
        {
            <tr>
                <td>@recepcion.Fecha</td>
                <td>@recepcion.MarcaPc</td>
                <td>@recepcion.ModeloPc</td>
                <td>
                    <!-- Botón para ver detalle de servicio -->
                    <a asp-controller="Servicios" asp-action="Details" asp-route-id="@recepcion.IdServicio" class="btn btn-info">Detalle</a>
                </td>
                <!-- Agrega más celdas según las propiedades de Recepcionequipo -->
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index"><button class="btn btn-secondary">Volver a la lista</button></a>
</div>